@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Courier Prime', monospace;
  color:#2b2018;
}

a,
.green {
  text-decoration: none;
  color: #5D536B;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #5D536B;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    background-color: #f6dfc0;
  }

  #app {
    display: flex;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
